NetisTest/Service References/SWPapeleta/Papeleta2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/WCFServicioSOAT.Dominio" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/WCFServicioSOAT.Dominio" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfPapeletas">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Papeletas" nillable="true" type="tns:Papeletas" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfPapeletas" nillable="true" type="tns:ArrayOfPapeletas" />
  <xs:complexType name="Papeletas">
    <xs:sequence>
      <xs:element minOccurs="0" name="IdSAT" type="xs:int" />
      <xs:element minOccurs="0" name="Monto" type="xs:decimal" />
      <xs:element minOccurs="0" name="Placa" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Tipo" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Papeletas" nillable="true" type="tns:Papeletas" />
</xs:schema>