NetisTest/Service References/SWPapeleta/Papeleta.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:14958/Papeleta.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WCFServicioSOAT.Dominio" />
  <xs:element name="ValidarPapeletas">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="placa" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ValidarPapeletasResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/WCFServicioSOAT.Dominio" minOccurs="0" name="ValidarPapeletasResult" nillable="true" type="q1:ArrayOfPapeletas" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Obtener">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/WCFServicioSOAT.Dominio" minOccurs="0" name="ObtenerResult" nillable="true" type="q2:Papeletas" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>